/* Common */
:root{
    /* color styles */
    --white: #ffffff;
    --black: rgba(44, 62, 88, 1);
    --green: rgba(25, 188, 156, 1);
    --grey: rgba(58, 84, 109, 1);
    --dark-grey: rgba(44, 62, 80, 1);
    
    }


    /* GENERAL */

    body{
        background-color: var(--white);
        color: var(--black);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .my-bg-black{
        background-color: var(--black);
    }
    .bg-green{
        background-color: var(--green);
    }
    .bg-grey{
        background-color: var(--grey);
    }
    .bg-dark-grey{
        background-color: var(--dark-grey);
    }
    .linea{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 100px;
    }
    .line_white::before{
        width: 100px;
        content: "";
        border: 1px solid var(--white);
    }
    .line_white::after{
        width: 100px;
        content: "";
        border: 1px solid var(--white);
    }
    .line_black::before{
        width: 100px;
        content: "";
        border: 1px solid var(--black);
    }
    .line_black::after{
        width: 100px;
        content: "";
        border: 1px solid var(--black);
    }
    
    
    /* HEADER */
    header{
        background-color: var(--black);
        position: fixed;
        height: 90px;
        top: 0;
        width: 100%;
        z-index: 9999;
    }
    
    .link_nav{
        color: var(--white);
        opacity: 100%;
    }
    
    .link_nav:hover{
        color: var(--green);
    }

    /* MAIN */
    #hero{
        padding-top: 100px;
        color: var(--white);
    }
    .avatar{
        width: 70%;
        max-width: 100%;
    }

    .my_cover{
        position: relative;
    }
    
    .img-layover{
        font-size: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    .my_cover:hover{
        cursor: pointer;
    }
    .my_cover:hover img{
        opacity: 0.5;
    }
    .my_cover:hover .img-layover{
        display: block;
    }
    
    

    /* FOOTER */
    .footer_link{
        color: var(--green);
        text-decoration: none;
    }
    .footer_link:hover{
        color: var(--green);
        text-decoration: underline;
    }
   

   
    
   