/* Common */
:root{
    /* color styles */
    --white: #ffffff;
    --black: rgba(44, 62, 88, 1);
    --green: rgba(25, 188, 156, 1);
    --grey: rgba(58, 84, 109, 1);
    --dark-grey: rgba(44, 62, 80, 1);
    
    }


    /* GENERAL */

    body{
        background-color: var(--white);
        color: var(--black);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .my-bg-black{
        background-color: var(--black);
    }
    .bg-green{
        background-color: var(--green);
    }
    .bg-grey{
        background-color: var(--grey);
    }
    .bg-dark-grey{
        background-color: var(--dark-grey);
    }
    
    
    /* HEADER */
    header{
        background-color: var(--black);
        position: fixed;
        height: 90px;
        top: 0;
        width: 100%;
    }
    
    .hover_link{
        color: var(--white);
    }
    
    .hover_link_nav:hover{
        color: var(--green);
    }

    /* MAIN */
    #hero{
        padding-top: 100px;
        color: var(--white);
    }
    img.avatar{
        width: 70%;
        max-width: 100%;
    }
    
    /* FOOTER */
   .border_circle{
        border: 1px solid var(--white);
        border-radius: 50%;
        padding: 0.75rem;
   }
   #footer-top i{
    height: 30px;
    width: 30px;
    padding: 6px;
    vertical-align: middle;
    text-align: center;
   }


    .footer_link{
        color: var(--green);
        text-decoration: none;
    }
    .footer_link:hover{
        color: var(--green);
        text-decoration: underline;
    }
   

   
    
   